.para5 {
  margin:  0.0835in 0px 0.0835in 0px;
}

.para4 {
  margin:  0.0972in 0px 0.0835in 0px;
}

.para3 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para2 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para7 {
  border-bottom: 0.2pt double #808080;
  border-left: none;
  border-right: none;
  border-top: none;
  margin:  0.0000in 0px 0.1965in 0px;
}

.para1 {
  margin:  0px 0px 0px 0px;
}

.para6 {
  margin:  0.0835in 0px 0.0417in 0px;
}

.para0 {
  margin:  0.1665in 0px 0.0835in 0px;
}

.span9 {
  font-family: 'Liberation Sans';
  font-size: 85.0000%;
  font-weight: bold;
}

.span8 {
  font-weight: normal;
}

.span7 {
  text-decoration:  line-through;
}

.span6 {
  font-weight: bold;
}

.span10 {
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span5 {
  font-family: 'Liberation Sans';
  font-size: 95.0000%;
  font-style: italic;
  font-weight: bold;
}

.span4 {
  font-family: 'Liberation Sans';
  font-size: 101.0000%;
  font-weight: bold;
}

.span3 {
  color: #000080;
  text-decoration:  underline;
}

.span2 {
  font-family: 'Liberation Sans';
  font-size: 115.0000%;
  font-weight: bold;
}

.span1 {
}

.span0 {
  font-family: 'Liberation Sans';
  font-size: 130.0000%;
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}
